<form action="<%= people_url %>" method="post" >
  <input type='hidden'
         name='authenticity_token'
         value='<%= form_authenticity_token %>'>

  <label>
    Your Name
    <input type="text" name="person[name]" value="<%= @person.name %>">
  </label><br/>

  <label>
    Email
    <input type="text" name="person[email]" value="<%= @person.email %>">
  </label><br/>

  <label>
    Company
    <input type="text" name="person[company]" value="<%= @person.company %>">
  </label><br/>

  <label>
    Password
    <input type="password" name="person[password]" value="<%= @person.password %>">
  </label><br/>

  <button>SIGN UP</button>
</form>
